<ion-tabs>

  <ion-tab-bar slot="bottom">
        <!--Tab1-->

    <ion-tab-button tab="tab1" style="background: aqua;
    border-style: solid;
    border-color: black    
   ">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label style=" color: rgb(0, 0, 0);">HOME</ion-label>
    </ion-tab-button>


        <!--Tab2-->
    <ion-tab-button tab="tab2" style="background: aqua;
    border-style: solid;
    border-color: black
    ">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label style=" color: rgb(0, 0, 0);">LISTA</ion-label>
    </ion-tab-button>

    <!--Tab3-->
    <ion-tab-button tab="tab3" style="background: aqua; border: 3px red;  
    border-style: solid;
    border-color: black ">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label style="color: rgb(0, 0, 0);">FAVORITO</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
