.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    }
    
    div svg{
      height: 100px;
      width: 80px;
      margin-top: -50px;
    
    }